@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav-item">
        <form method="post" asp-controller="account" asp-action="logout">
            <button type="submit" class="nav-link btn btn-link py-0">
                <i class="bi bi-box-arrow-left"></i>
                @User.Identity.Name
            </button>
        </form>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="account" asp-action="register">
                <i class="bi bi-card-checklist"></i> Registrar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="account" asp-action="login">
                <i class="bi bi-box-arrow-right"></i> Login
            </a>
        </li>
    </ul>
}