@using CardIdBr.Models.Student
@model StudentViewModel

<div class="col-md-6">
    @* <img src="/images/card_template.png" alt="Imagem da carteira de estudante" class="img-carteirinha"> *@
    <figure id="container-card">
        <img src="/images/card_template.png" alt="Imagem da carteira de estudante" class="img-carteirinha" />
        <div>
            <div class="div-card-name">
                <figcaption class="text-name">FERNANDO LUCAS RODRIGUES SIMÕES</figcaption>
            </div>
            <div class="div-card-instituition">
                <figcaption class="text-instituition">CENTRO UNIVERSITÁRIO CENTRO UNIVERSITÁRIO DE BELO HORIZONTE - UNIBH</figcaption>
            </div>
            <div class="div-card-course">
                <figcaption class="text-course">CIÊNCIA DA COMPUTAÇÃO</figcaption>
            </div>
            <div class="div-card-cpf">
                <figcaption class="text-cpf"><b>CPF:</b> 128.223.006-90</figcaption>
            </div>
            <div class="div-card-rg">
                <figcaption class="text-rg"><b>RG:</b> 14.983.233</figcaption>
            </div>
            <div class="div-card-birthday">
                <figcaption class="text-birthday"><b>DATA DE NASC.:</b> 15/09/1994</figcaption>
            </div>
            <div class="div-card-validate">
                <figcaption class="text-validate"><b>VALIDADE:</b> 15/09/2025</figcaption>
            </div>
            <div class="div-card-use-code">
                <figcaption class="label-birthday">CÓD. USO</figcaption>
                <figcaption class="value-birthday">123-ABCD</figcaption>
            </div>
            <div class="div-card-qr-code">
                <img class="img-card-qr-code" title="QRCODE" src="@String.Format("data:image/png;base64,{0}",@Model.QrCode)" />
            </div>
            <div class="div-card-photo">
                <img class="img-card-photo" title="Foto de Rosto" src="@String.Format("data:image/png;base64,{0}",@Model.Photo) | " />
            </div>
        </div>
    </figure>
</div>
