@model CardIdBr.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="border border-black p-3">
            <form asp-action="Edit">
                <div class="form-group py-2">
                    <label asp-for="FullName" class="control-label">Nome Completo</label>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                    <input asp-for="FullName" class="form-control" />
                </div>
                <div class="form-group py-2">
                    <label asp-for="Email" class="control-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input asp-for="Email" type="email" class="form-control" />
                </div>
                <div class="form-group py-2">
                    <label asp-for="Cpf" class="control-label"></label>
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                    <input asp-for="Cpf" class="form-control" />
                </div>
                <div class="form-group py-2">
                    <label asp-for="Rg" class="control-label"></label>
                    <span asp-validation-for="Rg" class="text-danger"></span>
                    <input asp-for="Rg" class="form-control" />
                </div>
                <div class="form-group py-2">
                    <label asp-for="BirthDate" class="control-label">Data de Nascimento</label>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                    <input asp-for="BirthDate" class="form-control" />
                </div>
                <div class="form-group py-2">
                    <label asp-for="InstituitionName" class="control-label">Instituição</label>
                    <span asp-validation-for="InstituitionName" class="text-danger"></span>
                    <input asp-for="InstituitionName" class="form-control" />
                </div>
                <div class="form-group py-2">
                    <label asp-for="Course" class="control-label">Curso</label>
                    <span asp-validation-for="Course" class="text-danger"></span>
                    <input asp-for="Course" class="form-control" />
                </div>
                <div class="form-group py-2">
                    <label asp-for="SchoolLevel" class="control-label">Escolaridade</label>
                    <span asp-validation-for="SchoolLevel" class="text-danger"></span>
                    <input asp-for="SchoolLevel" class="form-control" />
                </div>
                <div class="row pt-4">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Criar</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-outline-primary border form-control text-bg-light">
                            Voltar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
